--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.36.0
ultralytics==8.2.50

# Py3.13向け（相性の良い組）
torch==2.8.0+cpu
torchvision==0.23.0+cpu

numpy>=2.0,<3.0
opencv-python-headless==4.10.0.84
pillow==10.4.0
requests==2.32.3
